---
---
@charset "utf-8";

body {
  font-family: sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;

  div {
    display: inline-block;
    height: 3vh;
    line-height: 3vh;
  }

  .progress-bar {
    background: #2e8540;
    border-radius: 3vh;
    margin-top: 1vh;
  }

  .progress-number {
    position: relative;
    top: -1vh;
    margin-left: 0.5em;
  }
}

div.table {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100vw;

  div.cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 7vw;
    font-weight: bold;
    padding: 1vw;

    .sub {
      font-size: 0.3em;
    }
  }
}

footer {
  position: absolute;
  top: 80vh;
  left: 0;
  height: 20vh;
  width: 100vw;
  background-color: black;
  text-align: center;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
