* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
}

div {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background: url(../assets/cooger.svg);
  background-size: 100%;
  background-position: 0 35%;
  opacity: 0.6;
}

img {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  max-width: 40vw;
  max-height: 40vh;
}
