<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Today in history: All of them</title>

    <link rel="stylesheet" href="today.css">
    <link rel="canonical" href="https://darkcooger.net/today/all.html" />

    <meta property="og:url" content="https://darkcooger.net/today/all.html" />
    <meta property="og:title" content="Today in history: All of them" />
    <meta property="og:description" content="A list of all Today in History comics" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://darkcooger.net/today/images/0325_1655.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Today in history: All of them" />
    <meta name="twitter:image" content="https://darkcooger.net/today/images/0325_1655.jpg" />
  </head>
  <body>

  <h1>Today in history: All of them</h1>

  <div class="all">
  {{#.}}
    <div class="cell"><a href="{{short_date}}.html">{{date}}</a></div>
  {{/.}}
  </div>

  </body>
</html>