<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Today in history: {{date}}</title>

    <link rel="stylesheet" href="today.css">
    <link rel="canonical" href="https://darkcooger.net/today/{{short_date}}.html" />

    <meta property="og:url" content="https://darkcooger.net/today/{{short_date}}.html" />
    <meta property="og:title" content="Today in history: {{date}}" />
    <meta property="og:description" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://darkcooger.net/today/images/{{hero}}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Today in history: {{date}}" />
    <meta name="twitter:image" content="https://darkcooger.net/today/images/{{hero}}" />
  </head>
  <body>

  <h1>Today in history: {{date}}</h1>

  <div class="nav">{{#prev_date}}<a href="{{prev_date}}.html">Previous</a> • {{/prev_date}}<a href="all.html">Index</a>{{#next_date}} • <a href="{{next_date}}.html">Next</a>{{/next_date}}</div>

  {{#entries}}
    <div class="image">
      <img src="images/{{short_date}}_{{year}}.jpg" alt="{{caption}}">
      <p class="sr-only">{{date}} {{year}}: {{title}}</p>
    </div>
  {{/entries}}

  </body>
</html>