* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: black;
}

div#background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: url(cooger.svg);
  background-size: 100%;
  background-position: 0 35%;
  opacity: 0.6;
  z-index: -1;
}
